beartype>=0.22.8
braceexpand>=0.1.7
einops>=0.8.1
imageio>=2.37.2
imageio-ffmpeg>=0.6.0
natsort>=8.4.0
numpy<2
omegaconf>=2.3.0
opencv-python>=4.11.0.86
Pillow>=12.0.0
pytorch-lightning>=2.6.0
pytorchvideo>=0.1.5
safetensors>=0.7.0
SwissArmyTransformer>=0.4.12
torch>=2.9.1
torchvision>=0.24.1
triton>=3.5.1
wandb>=0.23.1
webdataset>=1.0.2
pyarrow<=20.0.0